<div>
    List of All Test Components Listed here
</div>
<br/>
<select name="componenet-list"
        ng-model="vm.selectedComponent" ng-change="vm.filterComponentList()">
    <option ng-repeat="option in vm.allComponents" ng-value="option.name">{{option.name}}</option>

</select>
<b>Selected Component : {{vm.selectedComponent }}</b>

<hr>

<div ng-repeat="component in vm.filteredComponents track by $index">
    <Label><h3>{{component.name}}</h3></Label>
    <!--<div ng-bind-html="component.html"/>-->
    <div render-component component="{{component.html}}" />

 <!--   {{ component.html | convertToHtml }}-->
    <br>
    <br>
    <hr>
</div>

</div>


<!--<interval-example></interval-example>-->
<br />
