<!DOCTYPE html>
<html ng-app="JSBestPracticesModule">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="../libraries/bootstrap/css/bootstrap.css" rel="stylesheet"/>
</head>
<body ng-controller="loginController">
    <div class="container">
        <div class="row">
            <section class="col-md-4 col-md-offset-4 well">
                <h3>Please provide your user Details to Authenticate</h3>
                User Name : <input type="text" id="username" ng-model="loginModel.username"/>&nbsp;&nbsp;&nbsp; <b>{{loginModel.username}}</b><br>
                <br>
                Password  : <input type="password" id="password" ng-model="loginModel.password"/>

                <br><br>
                <button type="button" ng-click="authenticateUser()" class="btn btn-success">Login</button>

            </section>
        </div>
    </div>
</body>

<script src="../libraries/angular/angular.js"></script>
<script src="../angularTest.js"></script>

</html>